.button{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.25rem;
    border-radius: 0.5rem;
    border-width: 1px;
    background-color: white;
}
.button:hover{
    color: rgb(230, 0, 127);
    cursor: pointer;
}